extends ../layout

block main
        
    div.input-prepend.input-append.top
        span.add-on 1. Randomized Realtime Process Layout  &nbsp;
        div.add-on.btn#rerun-all Generate new process
    
    div#chart-0
    
    div.input-prepend.input-append.btn-group 
        span.add-on 2. Adjacency Matrix &nbsp;
        div.btn.add-on#rerun-all Generate new process
    

    div#chart-1

   
   
    
block info
    include demonstration_info
    
