:markdown
    ####What is this all about ?
    In this demo you can display randomized processes. The layout is generated in
    real-time with a force-layout algorithm. An additional adjacency matrix view
    shows an optional presentation for the generated process. 
    You can rerun different portions of the demo using the buttons 

    ####Demonstration Elements
    
    **Randomized Real-time Process Layout**  
    A simple layout for process data. The view is fed with a random process and 
    generates the final layout using a force algorithm with fixed start and end nodes.
    Rerun the example to see different random processes.
    If you are not happy with the result use Drag & Drop to adjust nodes.
    
    **Adjacency Matrix**   
    This matrix shows the connections between activities in a matrix. The y-axis
    shows the source activities, the x-axis shows the target activities. Grey columns
    group activities by their minimum jump distance from start. This kind of matrix
    is great for visualizing outliers and back references.
    
    *The demo random process generator is quite simple and produces mostly "clean" forward
    processes*
