div#whats-this 
    p(style='padding: 0.5em; padding-top:1em') What's This ?
    p.what-text.
        Welcome to PRINDS, a personal project space where I try to test and demonstrate 
        development and technology skills over a three-month duration. Feel free to visit the
        accompanying blog under:     
    a.what-text(href='http://project2go.wordpress.com/',target='_blank') http://project2go.wordpress.com/
    
    
#footer.text-right.footer-right(style='color:#DDD') Copyright © 2013