div.navbar.navbar-inverse
    div.navbar-inner
        div.navbar
            ul.nav.nav-pills
                li#nav-home
                    a(href='/') Home
                li#nav-structure
                    a(href='/structure') Structure
                //-  
                    li#nav-analyze
                        a(href='#') 
                            del Analyze
                    li#nav-view
                        a(href='#') 
                            del View
            a.brand PRINDS