div.navbar.navbar-inverse
    div.navbar-inner
        div.navbar
            ul.nav.nav-pills
                li#nav-home
                    a(href='/home/overview') Home
                li#nav-extract
                    a(href='/extract/demonstration') Extract
                li#nav-analyze
                        a(href='/analyze/demonstration') Analyze
                li#nav-visualize
                        a(href='/visualize/demonstration') Visualize
            a.brand(href='/') PRINDS