extends layout

block content
        
    div.content
        div.container
            div.row.master-stripe
                div.span1
                div.span10 
                    h1.master-title #{title}
                    h2.master-subtitle #{subtitle}
                div.span1
                
        