extends layout

block content
   
        div.row.master-stripe
            div.span1
            div.span10 
                h1.master-title #{title}
                h2.master-subtitle #{subtitle}
            div.span1
        
        div.row
            div.span1
            div.span3.task.pagination-centered#task-structure
                h4.task-top  1 
                img(src="images/unstruct_struct.png")
                h4.task-bottom Structure Data
                p(style='color:#A00; font-size:12px; position:absolute; bottom:0px; right:1em;') v0.1
            div.span3.task.pagination-centered
                div.comming-soon 
                    p(style="margin-top:4em") Under Development
                h4.task-top 2 
                img(src="images/struct_anal.png")
                h4.task-bottom  Analyze Events
            div.span3.task.pagination-centered
                div.comming-soon 
                    p(style="margin-top:4em") Under Development
                h4.task-top 3
                img(src="images/anal_view.png")
                h4.task-bottom View Process
            div.span1
