extends layout

block content

    div.row(style='margin-top:64px')

        div.span2

        div.span8

            div.row
                div.input-prepend.input-append.btn-group
                
                    span.add-on Regular Expression :  
                    input.span6.expression-input.valid-entry(type="text",style='widht:100%')
    
                    //-
                        div.btn-group
                            input.add-on.input(type="text")
                            a.add-on.btn.dropdown-toggle(data-toggle="dropdown",href="#")
                                span.caret
                            ul.dropdown-menu
                                li What a  text
            div.row
                    ol.unstructured-list
                        li.unstructured-line Welcome to a small regular expression online editor
                        li.unstructured-line - Type any regular expression in the input bar above.
                        li.unstructured-line - Valid regular expressions  turn the bar green
                        li.unstructured-line - Invalid regular expression turn the bar red
                        li.unstructured-line The Regular expression will try to find matches in the text
                        li.unstructured-line Matchtes are highlighted with every keystroke
                        li.unstructured-line 
                        li.unstructured-line This is just a small example. For a full functional online regexp editor try:
                        li.unstructured-line http://scriptular.com/
                        li.unstructured-line 
                        li.unstructured-line Example: \b[a-z]{4,6}\b will match all lowercase words with length 4 to 6
        div.span2
