h4 Technology contents
ul
    li
        a(href='#architecture') Architecture Overview

b Major implementation Steps
ul
    li  
        a(href='#tech1') Step 1: Regular Expression Editor
    li
        a(href='#tech2') Step 2: MapReduce Execution Server
    li
        a(href='#tech3') Step 3: MapReduce jobs    