extends ../layout

block main
    
    h4 Disclaimer
    br
    p
      | Andreas Adlichhammer
      br
      | Baierbrunner Straße 50
      br
      | 81379 München
      br
    h4 Contact:
    table
      tr
        td
          p E-Mail:
        td
          p
            a(href='mailto:support@adlichhammer.de') support@adlichhammer.de
    br
    b Liability for Content
    br
    | We make every effort to keep the information on our Web site current, but accept
    | no liability whatsoever for the content provided. Pursuant to §7 par. 1 of TMG
    | (German Tele-Media Act), the law limits our responsibility as a service provider
    | to our own content on these Web pages.
    br
    br
    | According to §§8 to 10 of TMG, we are not obligated to monitor third party
    | information provided or stored on our Web site. However, we shall promptly
    | remove any content upon becoming aware that it violates the law. Our liability
    | in such an instance shall commence at the time we become aware of the respective
    | violation.
    br
    br
    b Liability for Links
    br
    | Our site contains links to third-party Web sites. We have no influence
    | whatsoever on the information on these Web sites and accept no guaranty for its
    | correctness. The content of such third-party sites is the responsibility of the
    | respective owners/providers.
    br
    br
    | At the time third-party Web sites were linked to ours, we found NO GROUNDS
    | WHATSOEVER of any likely contravention of the law. We shall promptly delete a
    | link upon becoming aware that it violates the law.
    br
    br
    b Copyrights
    br
    | The content and works provided on these Web pages are governed by the copyright
    | laws of Germany. Duplication, processing, distribution, or any form of
    | commercialization of such material beyond the scope of the copyright law shall
    | require the prior written consent of its respective author or creator.
    br
    br
    b Data Protection
    br
    | Please be aware that there are inherent security risks in transmitting data,
    | such as e-mails, via the Internet, because it is impossible to safeguard
    | completely against unauthorized access by third parties. Nevertheless, we shall
    | safeguard your data, subject to this limitation. In particular, personal
    | information will be transmitted via the Internet only if it does not infringe
    | upon third-party rights, unless the respective party has given its prior consent
    | in view of such security risks. Accordingly, as the Web site provider, we shall
    | not be held liable for any damages incurred as a consequence of such security
    | risks or for any related acts of omission on our part.
    br
    br
    | Sources: &nbsp;
    a(href='http://www.streifler.de/') Rechtsanwälte Streifler & Kollegen
    | ;&nbsp;
    a(href='http://www.twigg.de/haftungsausschlussimpressumenglisch.htm') twigg