br
:markdown

    In the sidebars you will find additional information about the page
    
    #### How to navigate this site ?
    A page is dedicated to each project phase  
    
    1. **Home**  
    Overview over all topics
    2. **Extract**  
    Extracting process data from unstructured sources
    3. **Analyze**  
    Generate process structure from event data  
    (Not yet implemented)
    4. **Visualize**  
    Display process structure data
    
    
    On each page you will find three topic
    
    1. **Demonstration**  
    A simplified technology showcase  
    2. **Technology**  
    Implementation and architecture information
    3. **Theory**  
    Background to the topics theory