extends ../layout

block main
    
    :markdown
    
        #### What you will find on this site 
        
        This websites presents results of a small technology project
        I developed for self-education and professional development over the last three weeks. 
        The wep page itself is part of the project. My first web application !
        
        You won't find any big solutions on this site but several small ideas and code snippets. 
        Best compare it to a blog with some interactive parts. Process Intelligence, the information gain from process data, frames the 
        technology parts and serves as glue for several technical prototypes.
        
        Stay on this site to learn more about the whole project or jump directly 
        to one of the project phases:
        
        1. [Extract Data](/extract/demonstration)
        2. [Analyze Data](/analyze/demonstration) (Not yet implemented)
        3. [Visualize Data](/visualize/demonstration)
        
        
    :markdown
        
        #### What technologies do I use ?
        The project is about open source technologies used in modern web application and data science projects.
        This are some of the technologies and topics you will find on this site:
        
        * Big Data with Hadoop
        * Data visualization with D3js
        * Scalable Infrastructure with Node.js and Amazon EC2
        * Data Analysis with Python
        
        [Learn more about the technologies used in this project](technology)
        
        #### What happens in the tree project phases ?
        The project site is structured along three phases, where data will be extracted, analyzed and visualized. 
        One page is dedicated to each phase. On each page you find a demonstration and background to technology and theory.
        
        #### Why process intelligence ?
        This site could have been about the population development of mushrooms in South America during full moon.
        But I don’t know much about mushrooms and the topic is not well suited for technology heavy applications.
        With my background as a business intelligence professional, process intelligence seemed more adequate.
        
        [Learn more about Process Intelligence](theory)

        
block info
    include overview_info