extends ../layout

block main
   :markdown
   
        #### What is Process Intelligence ? 
        
        If you search for *Business Process Intelligence* on Wikipedia you get redirected 
        to [Operational Intelligence](http://en.wikipedia.org/wiki/Business_process_intelligence), where you can read the following
        > Operational intelligence (OI) is a category of real-time dynamic, business analytics that delivers visibility and insight into data, streaming events and business operations. 
        
        If you continue to search for Process Intelligence you may stumble across the [Software AG Process Intelligence Solution](http://www.process-intelligence.com/en/Home/176217.html). According to Software AG the role of Process Intelligence is
        > To measure their performance, organizations typically use figures, such as revenues, profits, cash flow, etc., which are the result of the business processes executed. […] Process Intelligence delivers an unprecedented combination of corporate and process control at the strategic, tactical, and operational level
        
        And if you search even further you will soon see that there is no clear definition of Process Intelligence.
        
        
        
        #### The projects point of view on Process Intelligence
        
        Two years ago when I studied project management I came in contact with [Lean Management Principles in the production industry]( http://en.wikipedia.org/wiki/Lean_manufacturing). At the same time I already worked for several years as a Business Intelligence Professional in large finance and insurance companies. 
        
        **PI in classical Business Intelligence (BI)**  
        
        One major principle of Lean Management is the focus of all business activity on the value chain process. 
        A concept that makes sense. Sadly, this concept played never a major part in the BI Solutions I worked with. 
        Process information only plays a minor role and the figures produced were mostly related to departments. 
        Even in BI Literature holistic approaches to process intelligence are not existent. Sure you will find process oriented business intelligence, like the [time stamped accumulating snapshot tables in dimensional modelling by Kimbal](http://www.kimballgroup.com/2012/05/01/design-tip-145-time-stamping-accumulating-snapshot-fact-tables/), but you won’t find process centric intelligence.
        
        Now I became curious about Process Intelligence and started to look for more information.
        
        **Business Process Management goes Analytics** 
        
        The main driver for the process centric intelligence can be found not in the BI community but in the Business Process Management (BPM) community. Early papers like the [HP Invent Paper about Business Process Intelligence](http://www.hpl.hp.com/techreports/2002/HPL-2002-119.pdf) propose a Process Data Warehouse and mark a trend to more analytical and integrated ["Intelligent Business Operation Suites"](http://www.gartner.com/newsroom/id/1943514) as Gardner puts it. 
         
        **Three simple Process Intelligence questions**  
        So what does this mean for this project site? Between hollow marketing promises and buzzword deserts there are some essential concepts and ideas related to Process Intelligence. This project will be structured around three of these essential concepts and engages the following questions
        
        1. Where do I get my process data from ?
        2. How do I analyze my process data ?
        3. How do I present my process data ?





