div
    //border-style solid
    //border-width 1px
    //border-color black
 
// Overwrite bootstrap.min.css
.navbar
    margin-bottom:0px
    
.navbar-inverse .brand 
    float right
    
.navbar-inner
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    
.container
    width 100%
    //min-height: 100%;
    height: 100%;
    background #EEF
    
.content
    background #F9F9F9
    padding-bottom 15px
    
.gist-code
    margin-top 2em
    margin-bottom 2em
    
.main,.info,.title
    padding-left 15px
    padding-right 15px
.info
    font-size 12px
    border  0px
    border-left 2px
    border-color #E9E9E9
    border-style solid
    margin-bottom 15px
    margin-top 15px
 
.info>h4 
    font-size 14px
    
.preheader
    height: 1em;
  
.header
    background #EEEEFF
    
.title
    padding 15px
    
.prefooter
    height: 3em;  
    background: #EEEEFF;
    //bottom: 2em;
.footer
    background: #EEEEFF;
    
.span12 
    width 100%

 
.content
  //min-height: 100%;
  //height: 100%;

.navigation
    background #CCC
    
html,body{
    margin:0;
    padding:0;
   // min-height: 100%
    height: 100%;
}

a 
    color #66B

#main-menu 
    margin-top 30px
.nav-list>.active>a
    background-color #333
    
blockquote p
    font-size 14px
    font-style italic
    
h4
    margin-top 1.5em

.top
    margin-top 30px
    
h1
    font-size 48px
    font-family "Comic Sans MS", cursive, sans-serif
    
.architecture {
    margin 4em;
}
